 <!--INICIO TABS -->
 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- PERFIL-->
    <ion-tab-button tab="perf">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <!-- Calendario -->
    <ion-tab-button tab="cal">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>
  
    <!-- MAPA -->
    <ion-tab-button tab="mapa">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>
    
    <!-- ACERCA DE -->
    <ion-tab-button tab="cmgs">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>CMG</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
<!--FIN TABS -->