<<<<<<< HEAD

ion-content {
    --background: none !important; 
  }
  
  .maps {
    width: 100%;
    height: 100%;
  }
  
  capacitor-google-maps {
    display: inline-block;
    width: 100%;
    height: 100%;
=======
ion-content {
    --background: #ecf4ff;
    
>>>>>>> 073f681edf7a830633369f633d014db9905d6dd1
  }