<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="especialistas"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div *ngIf="datos !=null">
  
      <img alt="Silhouette of mountains" src="https://es.web.img2.acsta.net/c_162_216/pictures/19/06/22/13/38/1944794.jpg" />
      <ion-card-header>
        <ion-card-title>{{datos.name}}</ion-card-title>
        <ion-card-subtitle>{{datos.username}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p style="word-wrap: break-word; white-space: normal;">Correo: {{datos.email}}</p>
        <p style="word-wrap: break-word; white-space: normal;">Contacto: {{datos.phone}}</p>
        <p style="word-wrap: break-word; white-space: normal;">Pagina web: {{datos.website}}</p>  
      </ion-card-content>
  
   </div>
  </ion-card>
  
</ion-content>

