<ion-header>
  <ion-toolbar>
    <!--Boton de perfil -->
    <ion-buttons slot="start">
      <ion-avatar>
        <img alt="" src="/assets/images/logo_3.jpg" />
      </ion-avatar>
    </ion-buttons>

    <!--boton salir -->
    <ion-buttons slot="primary">
      <ion-button (click)="salir()" icon-only> 
        <ion-icon name="reorder-four-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <!--titulo -->
    <ion-title text-Center>Bienvenido</ion-title>
  </ion-toolbar>
  <!-- Termina el Header -->



  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"></ion-title>
      </ion-toolbar>
    </ion-header>

  
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item><ion-icon name="person-circle-outline" slot="start"></ion-icon>Perfil </ion-item>
          <ion-item><ion-icon name="fitness-outline" slot="start"></ion-icon> Mi estado </ion-item>
          <ion-item [routerLink]="['/consultas']"><ion-icon name="calendar-number-outline"  slot="start"></ion-icon> Mis consultas </ion-item>
          <ion-item><ion-icon name="bag-add-outline" slot="start"></ion-icon> Historial de atenciones </ion-item>
          <ion-item [routerLink]="['/especialistas']"><ion-icon name="glasses-outline" slot="start"></ion-icon> Especialistas </ion-item>
          <ion-item><ion-icon name="notifications-outline" slot="start"></ion-icon> Notificaciones </ion-item>
          <ion-item [routerLink]="['/home/mapa']"><ion-icon name="map-outline" slot="start"></ion-icon> Geocalización </ion-item>
  
        </ion-list>
      </ion-content>
    </ion-menu>
     <ion-router-outlet id="main"></ion-router-outlet>


     <!--INICIO TABS -->
     <ion-tabs>
      <ion-tab-bar slot="bottom">

        <!-- PERFIL-->
        <ion-tab-button tab="perfil">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

        <!-- Calendario -->
        <ion-tab-button tab="horas">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Calendario</ion-label>
        </ion-tab-button>
      
        <!-- MAPA -->
        <ion-tab-button tab="maps">
          <ion-icon name="map"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        
        <!-- ACERCA DE -->
        <ion-tab-button tab="cmg">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>CMG</ion-label>
        </ion-tab-button>
        
      </ion-tab-bar>
    </ion-tabs>
    <!--FIN TABS -->

  </ion-content>
</ion-header>
